@import "navbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.hero {
  background: #fff;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
  margin-left:auto;
  margin-right: auto;
  max-width: 1300px;
    justify-content: center;
    align-items: center;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;

  &--heading {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: $dark;

    @include tablet {
      font-size: 1.8rem;
      padding: 0 1rem;
    }
  }

  &--content {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1;
    color: $normal;

    @include tablet {
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }

  &--button {
    font-size: 1rem;
    background-color: $dark;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: $light;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;

    &:hover {
      background: $medium;
      color: $light;

      @include tablet {
        margin: 0 3rem;
      }
    }
  }
}

.column-right {
  @extend %align-center;
  justify-content: center;

  padding: 0rem 2rem;

  &-image {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: #131313;
  padding: 2rem 0;
  @extend %align-center;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  &__links {
    width: 100%;
    max-width: 1000px;
    display: flex;

    @include tablet {
      padding-top: 2rem;
    }
  }

  &__link--wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  &__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }

  &__link--items-heading {
    margin-bottom: 16px;
    color: $light;
  }

  &__link--items a {
    color: $light;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;

    &:hover {
      color: $light;
      transition: 0.3 ease-out;
    }
  }
}

.grid {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: stretch;
  

  @include tablet {
    grid-template-columns: 1fr;
    margin: 1rem 2rem;
  }

  &__article {
    border: 1px solid $light;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;

    &:hover {
      transition: transform 0.1s ease-out;
      transform: translateY(5px);
    }
  }

  &__image {
    width: 100%;
    padding: 1rem;
  }

  &__text {
    padding: 0 20px 20px;
  }

  &__heading {
    color: $dark;
  }

  &__content {
    color: $normal;
  }

  &__btn {
    font-size: 1rem;
    background-color: $dark;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: $light;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;

    &:hover {
      background: $medium;
      color: $light;

      @include tablet {
        margin: 0 3rem;
      }
    }
  }
}

.to-top {
  background: $dark;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @extend %align-center;
  justify-content: center;
  font-size: 32px;
  color:$medium;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;

 &.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
}
 